name: Check
on:
  pull_request: ~
  push:
    branches:
      - main

permissions: read-all

jobs:
  codeql:
    name: CodeQL (actions)
    runs-on: ubuntu-24.04
    permissions:
      security-events: write # To upload CodeQL results
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Initialize CodeQL
        uses: github/codeql-action/init@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
        with:
          config-file: ./.github/codeql.yml
          languages: actions
      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
  dev-env:
    name: Dev env
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Build development image
        run: make dev-img
  format:
    name: Format
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install tooling
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - name: Check formatting
        run: make format-check
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install tooling
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - name: Lint CI workflows
        if: ${{ failure() || success() }}
        run: make lint-ci
      - name: Lint Containerfile
        if: ${{ failure() || success() }}
        run: make lint-container
      - name: Lint shell scripts
        if: ${{ failure() || success() }}
        run: make lint-sh
  semgrep:
    name: Semgrep
    runs-on: ubuntu-24.04
    permissions:
      security-events: write # To upload SARIF results
    container:
      image: semgrep/semgrep
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Perform Semgrep analysis
        run: semgrep --sarif --output semgrep.sarif
      - name: Upload Semgrep report to GitHub
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
        if: ${{ failure() || success() }}
        with:
          sarif_file: semgrep.sarif
  test:
    name: Test
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        command:
          - download
          - install
          - latest-stable
          - list-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Run ${{ matrix.command }}
        env:
          COMMAND: ${{ matrix.command }}
        run: make "test-${COMMAND}" version=1.29.0
  test-e2e:
    name: Test end-to-end (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    needs:
      - test
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: MacOS
            os: macos-26
          - name: Ubuntu
            os: ubuntu-24.04
    steps:
      - name: asdf plugin test
        uses: asdf-vm/actions/plugin-test@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
        with:
          command: yamllint --help
          version: 1.29.0
          gitref: ${{ github.head_ref || github.ref_name }}
