name: Check
on:
  pull_request: ~
  push:
    branches:
      - main

permissions: read-all

jobs:
  dev-env:
    name: Dev env
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      - name: Build development image
        run: make dev-img
  format:
    name: Format
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      - name: Install tooling
        uses: asdf-vm/actions/install@75bab86b342b8aa14f3b547296607599522cbe90 # v2.1.0
      - name: Check formatting
        run: make format-check
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      - name: Install tooling
        uses: asdf-vm/actions/install@75bab86b342b8aa14f3b547296607599522cbe90 # v2.1.0
      - name: Lint CI workflows
        if: ${{ failure() || success() }}
        run: make lint-ci
      - name: Lint Dockerfile
        if: ${{ failure() || success() }}
        run: make lint-docker
      - name: Lint shell scripts
        if: ${{ failure() || success() }}
        run: make lint-sh
  test:
    name: Test
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        command:
          - download
          - install
          - list-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
      - name: Run ${{ matrix.command }}
        run: make test-${{ matrix.command }} version=1.29.0
  test-e2e:
    name: Test end-to-end (${{ matrix.name }})
    runs-on: ${{ matrix.os }}
    needs:
      - test
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: MacOS
            os: macos-12
          - name: Ubuntu
            os: ubuntu-22.04
    steps:
      - name: asdf plugin test
        uses: asdf-vm/actions/plugin-test@75bab86b342b8aa14f3b547296607599522cbe90 # v2.1.0
        with:
          command: yamllint --help
          version: 1.29.0
  secrets:
    name: Secrets
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3 # v3.5.0
        with:
          fetch-depth: 0
      - name: Scan for secrets
        uses: gitleaks/gitleaks-action@1f2d10fb689bc07a5f56f48d6db61f5bbbe772fa # v2.3.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_ENABLE_COMMENTS: false
          GITLEAKS_ENABLE_UPLOAD_ARTIFACT: false
          GITLEAKS_ENABLE_SUMMARY: false
