name: Nightly
on:
  schedule:
    - cron: 0 3 * * *
  workflow_dispatch: ~

permissions: read-all

jobs:
  tooling:
    name: Update tooling
    runs-on: ubuntu-24.04
    permissions:
      contents: write # To push a commit
      pull-requests: write # To open a Pull Request
    steps:
      - name: Create token to create Pull Request
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: automation-token
        with:
          app-id: ${{ secrets.AUTOMATION_ID }}
          private-key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
      - name: Update tooling
        uses: ericcornelissen/tool-versions-update-action/pr@8900c39f101a61623f3ac432a6a9efc92475b0ec # v2.2.0
        with:
          commit-message: Bump {{updated-tools}} from {{updated-old-versions}} to {{updated-new-versions}}
          labels: dependencies
          install-tools: false
          max: 1
          pr-body: |
            Bumps {{updated-tools}} from {{updated-old-versions}} to {{updated-new-versions}}.

            ---

            _This Pull Request was created using the [tool-versions-update-action]_

            [tool-versions-update-action]: https://github.com/ericcornelissen/tool-versions-update-action
          pr-title: Bump {{updated-tools}} from {{updated-old-versions}} to {{updated-new-versions}}
          token: ${{ steps.automation-token.outputs.token }}
