name: Nightly
on:
  schedule:
    - cron: 0 3 * * *
  workflow_dispatch: ~

permissions: read-all

jobs:
  tooling:
    name: Tool update ${{ matrix.tool }}
    runs-on: ubuntu-22.04
    permissions:
      contents: write # To push a commit
      pull-requests: write # To open a Pull Request
    strategy:
      fail-fast: false
      matrix:
        tool:
          - actionlint
          - hadolint
          - shellcheck
          - shfmt
    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Install tooling
        uses: asdf-vm/actions/install@6a442392015fbbdd8b48696d41e0051b2698b2e4 # v2.2.0
      - name: Create token to create Pull Request
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # v1.8.0
        id: automation-token
        with:
          app_id: ${{ secrets.AUTOMATION_ID }}
          private_key: ${{ secrets.AUTOMATION_PRIVATE_KEY }}
      - name: Get latest version
        id: version
        run: |
          LATEST_VERSION="$(asdf latest '${{ matrix.tool }}')"
          echo "latest=$LATEST_VERSION" >> "$GITHUB_OUTPUT"
      - name: Install new version
        run: |
          asdf install '${{ matrix.tool }}' '${{ steps.version.outputs.latest }}'
      - name: Apply latest version to .tool-versions
        run: |
          asdf local '${{ matrix.tool }}' '${{ steps.version.outputs.latest }}'
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38 # v5.0.2
        with:
          token: ${{ steps.automation-token.outputs.token }}
          title: Update ${{ matrix.tool }} to v${{ steps.version.outputs.latest }}
          body: |
            _This Pull Request was created automatically_

            ---

            Bump ${{ matrix.tool }} to v${{ steps.version.outputs.latest }}
          branch: tooling-${{ matrix.tool }}-${{ steps.version.outputs.latest }}
          labels: dependencies
          commit-message: Update ${{ matrix.tool }} to ${{ steps.version.outputs.latest }}
          add-paths: |
            .tool-versions
