name: Publish
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

permissions: read-all

jobs:
  github:
    name: GitHub Release
    runs-on: ubuntu-22.04
    permissions:
      contents: write # To create a GitHub Release
    steps:
      - name: Checkout repository
        uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247 # v3.5.1
      - name: Get version
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        id: version
        with:
          result-encoding: string
          script: |
            const ref = context.ref
            const tag = ref.replace(/^refs\/tags\//, "")
            return tag
      - name: Create GitHub Release
        uses: ncipollo/release-action@a2e71bdd4e7dab70ca26a852f29600c98b33153e # v1.12.0
        with:
          name: Release ${{ steps.version.outputs.result }}
          body: Release ${{ steps.version.outputs.result }}
          tag: ${{ steps.version.outputs.result }}
          draft: false
          makeLatest: true
          prerelease: false
