name: Publish
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

permissions: read-all

jobs:
  github:
    name: GitHub Release
    runs-on: ubuntu-24.04
    permissions:
      contents: write # To create a GitHub Release
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Get version
        id: version
        shell: bash
        run: |
          echo "result=${GITHUB_REF#refs/tags/}" >>"${GITHUB_OUTPUT}"
      - name: Create GitHub Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          name: Release ${{ steps.version.outputs.result }}
          body: Release ${{ steps.version.outputs.result }}
          tag: ${{ steps.version.outputs.result }}
          draft: false
          makeLatest: true
          prerelease: false
